@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@200;400&family=Righteous&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url("./pexels-codioful-\(formerly-gradienta\)-6985001.jpg");
    background-repeat: no-repeat;
    background-size: 1400px;
    background-position: top;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#caixa-login {
    width: 300px;
    height: 400px;
   
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    margin: 100px; 
    
    border-radius: 20px;
    background-color: white;
    box-shadow: 10px 10px 18px 1px rgba(0, 0, 0, 0.4);
}

#titulo{
    font-family: 'Lobster', sans-serif;
    font-size: 30px;
    color: #32A7E6;   
    margin-top: 40px;
    
}

#configuracao-geral-forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    width: 200px;

    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

input {
    height: 35px;
    border-radius: 10px;
    font-size: 15px;

    border: 2px solid #8c8c8c;
    padding-left: 10px;
}

#configuracao-geral-botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30px;
    gap: 20px;
    align-items: center;
}

button {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    
    padding: 4px;
    border-radius: 5px;
    width: 85px;
    border: none;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
}

.botoes:hover{
    filter: brightness(90%);
    cursor: pointer;
}

.botoes:active{
    border: 2px solid #8c8c8c;
    filter: brightness(110%);
    font-weight: 600;
}

/* CADASRTO CADASTRO CADASSTRO CADASTRO */

#container-cadastro {
    display: flex;
    flex-direction: row;
    justify-content: left;
}


